.text-danger{
	margin: auto;
	width: auto;
}
.home{
    background-image: url(./logo.jpg);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(79deg, #1a4789 ,#005db4);
    height: 60px;
    padding:0 10px ;
}
nav .navLinks{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif; 
}
nav{
    position: sticky;
    top: 0;
}
nav .navLinks a{
    padding: 5px 5px;
    margin:0 20px ;
    color: white;
    text-decoration: none;

}
nav .navLinks a:hover{
    background-color: #34a853;
    border-radius: 10px; 
}

nav:active{
    background-color: #34a853;
    box-shadow: 0 3px #666;
}
.home-logo{
    border-radius: 50%;
    width: 60px;
	margin-left: 0%;
	margin-top: 2px;

}
.container{
	width: 100%;
	margin:auto;
    
}
.footerRows{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-image: linear-gradient(79deg, #1a4789 ,#005db4);
    padding: 70px 0;
    position: relative; top: 450px;
}
.column{
   width: 25%;
   padding: 0 15px;
   padding-left: 85px;
}
#summary {
	color: #ffffff;
    font-weight: 300;
    color: #ffffff;
}
.column h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.column h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: cornflowerblue;
	height: 2px;
	box-sizing: border-box;
	width: 70px;
}
.column ul li:not(:last-child){
	margin-bottom: 2px;
}
.column ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	
}
.column ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.column .links a{
	display: inline-block;
	height: 40px;
	width: 30px;
	margin:0 5px 5px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	
}
.column .links a:hover{
	color: #ffffff;
	background-color: #34a853;
}
#mail {
    color: #ffffff;
    color: #bbbbbb;
}
.social-media-icons-white a{
	color: #ffffff;
	font-size: 2rem;
	margin-left: 70px;
}
.logo{
	color: #ffffff;
}